/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .wrapper_for_baseline {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    justify-content: space-around; }
  .text, .more-text {
    text-align: center;
    width: 100%; }
  .first_section_img {
    width: auto;
    margin: 10px 0px; }
  .wrapper {
    width: 100%;
    height: calc(100vh - 20px); }
  .swiper-h .swiper-button-prev, .swiper-h .swiper-button-next {
    bottom: 16%; }
  .second_section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto; } }

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
