/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.wrapper_for_baseline {
		flex-direction: column-reverse;
    	align-items: center;
    	height: 100%;
    	justify-content: space-around;
	}
	.text, .more-text {
		text-align: center;
		width: 100%;
	}
	.first_section_img {
		width: auto;
		margin: 10px 0px;
	}
	.wrapper {
		width: 100%;
		height: calc(100vh - 20px)
	}
	.swiper-h {
		.swiper-button-prev, .swiper-button-next {
			bottom: 16%;
		}
	}
	.second_section {
		img {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    height: 100%;
		    width: auto;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
